

@model List<Team>
<div id="teamComponent" class="w-full">
    <team-component :teamlist="@JsonConvert.SerializeObject(@Model)" :leaguelist="@JsonConvert.SerializeObject(@ViewBag.Leagues)"/>
</div>
@section Scripts
{
    <script src="js/Teams.js"></script>
}
